<!DOCTYPE html>
<html layout:decorator="classpath:/templates/layout" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
    <body>
        <div layout:fragment="content">
            <h1 th:utext="#{user.title.delete}">Delete</h1>

            <p th:utext="#{user.label.suretodelete(${user.username})}"></p>

            <p>
                <form action="." method="POST">
                    <input type="submit" class="btn btn-danger" th:value="#{button.delete}" value="Delete" />
                    <a class="btn btn-link" th:href="@{'/panel/manage/user/edit' + ${user.id}}" th:utext="#{button.cancel}">Cancel</a>
                </form>
            </p>
        </div>
    </body>
</html>