<!DOCTYPE html>
<html layout:decorator="classpath:/templates/layout_panel" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
    <body>

        <div layout:fragment="content">

            <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.fancybox/jquery.fancybox.css}" />

            <link th:href="@{/css/spl.css}" rel="stylesheet" />

            <h1 th:if="${action == '/panel/manager/user/create'}" th:utext="#{user.title.add}"></h1>
            <h1 th:unless="${action == '/panel/manager/user/create'}" th:utext="#{user.title.edit}"></h1>

            <form th:action="${action}" method="POST" th:object="${user}" enctype="multipart/form-data">

                <div class="row">

                    <div class="col-sm-12">
                        <div class="row">
                            <label class="control-label" th:utext="#{user.field.username}">Username</label>
                            <input type="text" th:field="*{username}" class="form-control" />
                        </div>

                        <div class="row">
                            <label class="control-label" th:utext="#{user.field.email}">Email</label>
                            <input type="text" th:field="*{email}" class="form-control" />
                        </div>

                        <div class="row">
                            <label class="control-label" th:utext="#{user.field.enabled}">Enabled</label>
                            <select th:field="*{username}" class="form-control">
                                <option value="1" th:utext="#{yes}"></option>
                                <option value="0" th:utext="#{no}"></option>
                            </select>
                        </div>

                        <div class="row">
                            <label class="control-label" th:utext="#{user.field.balancebonus}">Bonus Balance</label>
                            <input type="text" th:field="*{balanceBonus}" class="form-control" />
                        </div>

                        <div class="row">
                            <label class="control-label" th:utext="#{user.field.phone}">Phone</label>
                            <input type="text" th:field="*{phone}" class="form-control" />
                        </div>

                        <div class="row">
                            <label class="control-label" th:utext="#{user.field.company}">Company</label>
                            <input type="text" th:field="*{company}" class="form-control" />
                        </div>

                        <input type="hidden" name="_csrf" id="_csrf" th:value="${_csrf.token}"/>
                        <input type="hidden" name="_csrf_header" id="_csrf_header" th:value="${_csrf.headerName}"/>

                        <input type="button" th:unless="${action == '/panel/manager/user/create'}" class="btn btn-green btn-add-bonus" th:value="#{button.addbonus}" name="addBonus" />

                        <input type="submit" th:unless="${action == '/panel/manager/user/create'}" class="btn btn-orange" th:value="#{button.apply}" name="save" />
                        <input type="submit" th:if="${action == '/panel/manager/user/create'}"  class="btn btn-orange" th:value="#{button.save}" name="save" />

                        <a class="btn btn-default" th:href="@{'/panel/manager/user/}" th:utext="#{button.cancel}">Cancel</a>
                        <a class="btn btn-danger" th:unless="${action == '/panel/manager/user/create'}" th:href="@{'/panel/manager/user/delete/' + ${user.id}}" th:utext="#{button.delete}">Delete</a>
                    </div>
                </div>

            </form>
            <div id="b-add-bonus" style="display: none;">
                <h3>Add Bonus</h3>
                <div class="body">
                    <p>
                        <br />
                    </p>
                    <p style="text-align: center;">
                        <input type="text" name="bonusAmount" placeholder="100" value="100" />
                        <a href="#" class="btn btn-orange add-bonus-submit">Add Bonus</a>
                    </p>
                </div>
                <div class="success" style="display: none"><p>Заявка принята! Мы вышлем инструкции по установке на указанный вами адрес.</p></div>
            </div>
            <script th:src="@{/js/user/edit.js}"></script>
        </div>

    </body>
</html>