<!DOCTYPE html>
<html layout:decorator="classpath:/templates/layout_panel" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
    <body>
        <div layout:fragment="content">
            <h1><span th:utext="#{user.title.list}"></span></h1>

            <table class="table">
                <tr>
                    <th th:utext="#{user.grid.title.id}">Id</th>
                    <th th:utext="#{user.grid.title.username}">Username</th>
                    <th th:utext="#{user.grid.title.email}">Email</th>
                    <th th:utext="#{user.grid.title.balancetotal}">Balance</th>
                    <th th:utext="#{user.grid.title.actions}">Actions</th>
                </tr>

                <tr th:each="user : ${users}">
                    <td>
                        <p>
                            <span th:utext="${user.id}"></span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span th:utext="${user.username}"></span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span th:utext="${user.email}"></span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span th:utext="${user.balanceTotal}"></span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <a th:utext="#{link.edit}" th:href="@{'/panel/manage/user/edit/' + ${user.id}}">Edit</a>
                            <a th:utext="#{link.delete}" th:href="@{'/panel/manage/user/delete/' + ${user.id}}">Delete</a>
                        </p>
                    </td>

                </tr>
                <tr th:if="${users == null}"><td colspan="6" th:utext="#{user.label.nousers}">No users added</td></tr>
            </table>
        </div>
    </body>
</html>