<!DOCTYPE html>
<html layout:decorator="classpath:/templates/layout_panel" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
    <body>

        <div layout:fragment="content">
            <link th:href="@{/css/spl.css}" rel="stylesheet" />

            <h1 th:utext="#{user.title.profile}"></h1>

            <form th:action="${action}" method="POST" th:object="${user}" enctype="multipart/form-data">

                <div class="row">

                    <div class="col-sm-12">
                        <div class="row" th:unless="${emailAsUsername}">
                            <label class="control-label" th:utext="#{user.field.username}">Username</label>
                            <input type="text" th:field="*{username}" class="form-control" th:value="${user.username}" />
                        </div>

                        <div class="row">
                            <label class="control-label" th:utext="#{user.field.email}">Email</label>
                            <input type="text" th:field="*{email}" class="form-control" />
                        </div>

                        <div class="row">
                            <label class="control-label" th:utext="#{user.field.phone}">Phone</label>
                            <input type="text" th:field="*{phone}" class="form-control" />
                        </div>

                        <div class="row">
                            <label class="control-label" th:utext="#{user.field.company}">Company</label>
                            <input type="text" th:field="*{company}" class="form-control" />
                        </div>

                        <div class="row">
                            <input type="submit" class="btn btn-orange" th:value="#{button.save}" name="save" />
                        </div>
                    </div>
                </div>

            </form>

            <div>
<!--                <h1><span th:utext="#{appaccount.title.listforuser}"></span></h1>
                <p>
                    <a class="btn btn-orange" th:href="@{'/panel/profile/addaccount'}" th:utext="#{link.addaccount}"></a>
                </p>

                <table class="table">
                    <tr>
                        <th th:utext="#{appaccount.grid.title.name}">Name</th>
                        <th th:utext="#{appaccount.grid.title.type}">Type</th>
                        <th th:utext="#{appaccount.grid.title.balance}">Balance</th>
                    </tr>

                    <tr th:each="account : ${accounts}">
                        <td>
                            <p>
                                <span th:utext="${account.name}"></span>
                            </p>
                        </td>
                        <td>
                            <p>
                                <span th:utext="${account.accountType}"></span>
                            </p>
                        </td>
                        <td>
                            <p>
                                <span th:utext="${account.balance}"></span>
                            </p>
                        </td>

                    </tr>
                    <tr th:if="${accounts == null}"><td colspan="6" th:utext="#{appaccount.grid.label.noappaccounts}">No accounts</td></tr>
                </table>-->

            </div>
        </div>
    </body>
</html>